#tender-data {
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    padding: 15px 20px;
    padding-bottom: 20px;
    width: 70%;
}

#tender-data th,
#tender-data td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#tender-data th {
    background-color: #007bff;
    color: #fff;
}

#tender-data tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tender-data tr:hover {
    background-color: #ddd;
}