/* Set up basic styles for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
}

#home {
    /* position: fixed;
    top: 50px;
    left: 50px;
    color: black; */
    background-color: #007bff;
    padding: 10px;
    text-align: right;
}

#home a {
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
}

#main-container {
    margin: auto;
    margin-top: 6%;
    width: 60%;
    box-shadow: #007bff 0px 0px 0px 2px,
        #5ca6f6 0px 4px 6px -1px,
        #bfdaf6 0px 1px 0px inset;
    padding: 40px 20px;
    border-radius: 7px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: .5px solid #ddd;
}

table {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

thead {
    font-weight: bold;
}

th,
td {
    /* padding: 10px; */
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

/* Set up styles for the button */
button {
    margin-left: 50px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0956a8;
}

/* Set up styles for the table rows */
tr {
    background-color: #f2f2f2;
    transition: background-color 0.3s ease-in-out;
}

tr:hover {
    background-color: #ddd;
}

/* Set up animations for the table */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply animation to the table rows */
tbody tr {
    animation: slideIn 0.5s ease-in-out;
}

/* #home {
    position: fixed;
    top: 50px;
    left: 50px;
    color: black;
} */