#bid-list {
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    padding: 15px 20px;
    padding-bottom: 20px;
    width: 90%;
}

#bid-list th,
#bid-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#bid-list th {
    background-color: #007bff;
    color: #fff;
}

#bid-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

#bid-list tr:hover {
    background-color: #ddd;
}